section.swiper-slide( data-home-slide="3" data-html="Talent" )
    h2.teko.bg--title TALENT
    .content--container.talent
        .left
            //- h3.vertical-title.teko TALENT
        .middle
            .talent--container
                .talent-slider.swiper-container
                    .swiper-wrapper.talentSwiper
                        //- .swiper-slide
                        //-     a.box(href="/talent/chris-knight.html")
                        //-         video(preload="auto" playsinline muted)
                        //-             source(src=require('src/videos/talent-chris.mp4') type="video/mp4")
                        //- .swiper-slide
                        //-     a.box(href="/talent/mariafe.html")
                        //-         video(preload="auto" playsinline muted)
                        //-             source(src=require('src/videos/talent-mariafe.mp4') type="video/mp4")
                        //- .swiper-slide
                        //-     a.box(href="/talent/max-woodward.html")
                        //-         video(preload="auto" playsinline muted)
                        //-             source(src=require('src/videos/talent-max.mp4') type="video/mp4")
                        //- .swiper-slide
                        //-     a.box(href="/talent/priscilla-hon.html")
                        //-         video(preload="auto" playsinline muted)
                        //-             source(src=require('src/videos/talent-priscilla.mp4') type="video/mp4")
                        //- .swiper-slide
                        //-     a.box(href="/talent/tom-mitchell.html")
                        //-         video(preload="auto" playsinline muted)
                        //-             source(src=require('src/videos/talent-tom.mp4') type="video/mp4")
                        //- .swiper-slide
                        //-     a.box(href="/talent/ryan-tongia.html")
                        //-         video(preload="auto" playsinline muted)
                        //-             source(src=require('src/videos/talent-ryan.mp4') type="video/mp4")
                                    
                .swiper-pagination.talbullet

                
        .right
    img.indicator-arrow.bottom(src=require('src/images/arrow-down.svg'))