section.swiper-slide( data-home-slide="5" data-html="Our Team" )
    h2.teko.bg--title TEAM
    .content--container.team
        .left
            h3.vertical-title.teko TEAM
        .middle
            .team--container
                .box
                    img(src=require('src/images/harry.jpg'))
                    .details
                        h3.teko HARRY McNULTY
                        span.teko CCO
                        ul.social
                            li
                                a(href="https://www.instagram.com/saltynuts_/" target="_blank")
                                    i.im--instagram
                            li
                                a(href="https://www.linkedin.com/in/harry-mcnulty-10b40595/" target="_blank")
                                    i.im--linkedin
                .box
                    img(src=require('src/images/korey.jpg'))
                    .details
                        h3.teko KOREY RUBENSTEIN
                        span.teko CEO
                        ul.social
                            li
                                a(href="https://www.linkedin.com/in/korey-rubenstein-b6a9128/" target="_blank")
                                    i.im--linkedin
                .box
                    img(src=require('src/images/paul.jpg'))
                    .details
                        h3.teko PAUL WEBB
                        span.teko MD Strategies
                        ul.social
                            //- li
                            //-     a(href="https://www.instagram.com/_worldwidepwebb_/" target="_blank")
                            //-         i.im--instagram
                            li
                                a(href="https://www.linkedin.com/in/ptnwebb/" target="_blank")
                                    i.im--linkedin
                .box
                    img(src=require('src/images/tanay.jpg'))
                    .details
                        h3.teko TANAY SHETTY
                        span.teko KEY TEAM FELLOW
                        ul.social
                            li
                                a(href="https://www.linkedin.com/in/tanayshetty" target="_blank")
                                    i.im--linkedin
                .box
                    img(src=require('src/images/james.jpg'))
                    .details
                        h3.teko JAMES PICKFORD
                        span.teko MD Project Development
                        ul.social
                            li
                                a(href="https://www.instagram.com/jamespickford/" target="_blank")
                                    i.im--instagram
                            li
                                a(href="https://www.linkedin.com/in/james-pickford-1401274a/" target="_blank")
                                    i.im--linkedin
                a(href="#").gotoContact.box.border--fat.see-all
                    .plus--link(href="#")
                        i.im--cross
                        span JOIN US
        .right
    img.indicator-arrow.bottom(src=require('src/images/arrow-down.svg'))
    //- (onclick="(function(){ window.location.href=`team/tanay-shetty.html`;return false;})();" style="cursor: pointer;")